:root{
    --color1:#f0f0f0;
    --color2:#333;
    --color3:#555;
    --color4:#3ae4b1;
    --color5:#8470FF;
    --color6:#6959CD;
    --color7:#708090;
    --color8:#4169E1;
    --fontFamily:"Cascadia Code",sans-serif;
    --colorLinear:linear-gradient(#6495ED,#6A5ACD,#483D8B);
    --colorGradient:linear-gradient(#8470FF,#483D8B);
    --colorReset:linear-gradient(#333,#555);
}

*{
    margin:0;
    padding:0;
    border-box:box-sizing;
}

body{
    background:var(--color1);
    font-family:var(--fontFamily);

}

#inicio{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--color2);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:1;
    transition:opacity 1s ease-in-out;
}

#titulo{
    background:var(--colorLinear);
    text-align:center;
    margin-top:100px;
    font-size:2rem;
    text-transform:uppercase;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    animation: efeito 1s ease-in-out;
}
@keyframes efeito{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#imgHero{
    width:350px;
    height:350px;
    border-radius:50%;
    animation:rodar 2s ease-in-out;
}

@keyframes rodar{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

#subtitulo{
    font-size:1.5rem;
    color:var(--color6);
    animation: efeito2 1s ease-in-out;
}

@keyframes efeito2{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.5);
    }
}

/* Menu Hambúrguer */
.menuHamburguer{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    width:30px;
    height:25px;
    cursor:pointer;
    z-index:1000;
}
.menuHamburguer span{
    width:100%;
    height:3px;
    background:var(--color8);
    border-radius:10px;
    transition:0.3s;

}

header{
    background:var(--color7);
    color:var(--color2);
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 5px 5px var(--color8);
    border-radius:50px;
}

header #logo{
    width:70px;
    height:70px;
    border-radius:50%;
}

header nav ul{
    display:flex;
    gap:20px;
    list-style:none;

}

header nav ul li a{
    text-decoration:none;
    color:var(--color1);
    font-weight:800;
}

header nav ul li a:hover{
    color:var(--color8);
}
.botao{
    width:30px;
    height:30px;
    border-radius:50%;
    background:var(--colorGradient);
}

.botaoReset{
    width:30px;
    height:30px;
    border-radius:50%;
    background:var(--colorReset)
}

#texto{
    background:var(--colorLinear);
    text-align:center;
    margin-top:100px;
    font-size:2rem;
    text-transform:uppercase;
    -webkit-text-fill-color:transparent;
    background-clip:text;
}

/* responsividade Menu Hambúrguer */

@media(max-width:768px){
    header{
        position:relative;
    }
    .menuHamburguer{
        display:flex;
        position:relative;
        z-index:1002;
    }
    nav{
        display:none !important;
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:var(--color7);
        flex-direction:column;
        padding:20px;
        color:var(--color2);
        z-index:1005;
        border-radius:20px;
        box-shadow:0 10px 20px rgba(0, 0, 0, 0.2);
    }
    /* Força a exibição quando tiver a classe active */
    nav.active{
        display:flex !important;
    }
    nav ul{
        flex-direction:column;
        align-items:center;
        gap:20px;
    }
    /* Efeito para transformar o hamburguer em x */
    .open span:nth-child(1){transform:rotate(45deg)translate(5px,5px);}
    .open span:nth-child(2){opacity:0;}
    .open span:nth-child(3){transform:rotate(-45deg)translate(7px,-7px);}
}